<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite thread-count="12" name="Suite" parallel="tests">
        <test name="FireFoxTest">
            <parameter name="browser" value="firefox" />
            <parameter name="os_version" value="10" />
            <parameter name="os" value="WINDOWS" />
            <classes>
                <class name="Teamwork.cookie.TryAgain" />
            </classes>
        </test> <!-- Test -->
        <test name="ChromeTest">
            <parameter name="browser" value="chrome" />
            <parameter name="os_version" value="10" />
            <parameter name="os" value="WINDOWS" />
            <classes>
                <class name="Teamwork.cookie.TryAgain" />
            </classes>
        </test> <!-- Test -->
    <test name="ChromeTest1">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
        </test> <!-- Test -->
    <test name="ChromeTest2">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest3">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest4">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest5">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest6">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest7">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest8">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest9">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
    <test name="ChromeTest10">
        <parameter name="browser" value="chrome" />
        <parameter name="os_version" value="10" />
        <parameter name="os" value="WINDOWS" />
        <classes>
            <class name="Teamwork.cookie.TryAgain" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
